In [5]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_rows', None)

In [8]:
wine2 = pd.read_csv('winemag-data_first150k.csv')
wine2.head(5)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [9]:
wine = pd.read_csv('winemag-data-130k-v2.csv')
wine.head(5)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [10]:
#Creamos la función para explorar los datos. 

def exploracion_datos(df):
    print('_____________ INFORMACIÓN GENERAL DEL DATAFRAME ____________\n')
    print(df.info())

    print('___________________ FORMA DEL DATAFRAME ____________________\n')
    
    print(f"El número de filas que tenemos es de {df.shape[0]}.\nEl número de columnas es de {df.shape[1]}\n")
    

    print('_______________ NULOS, ÚNICOS Y DUPLICADOS _________________\n')
    
    print('La cantidad de valores NULOS por columna es de:\n')
    print(df.isnull().sum())
    print('____________________________________________________________\n')

    print('La cantidad de valores ÚNICOS por columna es de:\n')
        
    for columna in df.columns:
        cantidad_valores_unicos = len(df[columna].unique())
    
        print(f'La columna {columna}: {cantidad_valores_unicos}')

    """ Otra forma más rápida de obtener la lista de valores únicos por columna es usando df.nunique()"""

    print('____________________________________________________________\n')

    print('La cantidad de valores DUPLICADOS por columna es de:\n')

    """En análisis posteriores hemos detectado que hay columnas con valores duplicados que nos interesa filtrar, 
    así que vamos a realizar otro bucle for para iterar por todas las columnas del DF y obtener los duplicados de cada una de ellas."""

    for columna in df.columns:
        cantidad_duplicados = df[columna].duplicated().sum()
    
        print(f'La columna {columna}: {cantidad_duplicados}')


    print('____________________ RESUMEN ESTADÍSTICO ____________________')
    print('____________________ Variables Numéricas __________________\n')
    print(df.describe().T)
    
    print('___________________ Variables Categóricas _________________\n')
    print(df.describe(include='object').T)

In [13]:
exploracion_datos(wine2)

_____________ INFORMACIÓN GENERAL DEL DATAFRAME ____________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   150930 non-null  int64
 1   country      150925 non-null  object
 2   description  150930 non-null  object
 3   designation  105195 non-null  object
 4   points       150930 non-null  int64
 5   price        137235 non-null  float64
 6   province     150925 non-null  object
 7   region_1     125870 non-null  object
 8   region_2     60953 non-null   object
 9   variety      150930 non-null  object
 10  winery       150930 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 12.7+ MB
None
___________________ FORMA DEL DATAFRAME ____________________

El número de filas que tenemos es de 150930.
El número de columnas es de 11

_______________ NULOS, ÚNICOS Y DUPLICADOS _________________

La cantidad de valores NULOS por columna es de:

Unnamed: 0         0
country            5
description        0
designation    45735
points             0
price          13695
province           5
region_1       25060
region_2       89977
variety            0
winery             0
dtype: int64
____________________________________________________________

La cantidad de valores ÚNICOS por columna es de:

La columna Unnamed: 0: 150930
La columna country: 49
La columna description: 97821
La columna designation: 30622
La columna points: 21
La columna price: 358
La columna province: 456
La columna region_1: 1237
La columna region_2: 19
La columna variety: 632
La columna winery: 14810
____________________________________________________________

La cantidad de valores DUPLICADOS por columna es de:

La columna Unnamed: 0: 0
La columna country: 150881
La columna description: 53109
La columna designation: 120308
La columna points: 150909
La columna price: 150572
La columna province: 150474
La columna region_1: 149693
La columna region_2: 150911
La columna variety: 150298
La columna winery: 136120
____________________ RESUMEN ESTADÍSTICO ____________________
____________________ Variables Numéricas __________________

               count          mean           std   min       25%      50%  \
Unnamed: 0  150930.0  75464.500000  43569.882402   0.0  37732.25  75464.5
points      150930.0     87.888418      3.222392  80.0     86.00     88.0
price       137235.0     33.131482     36.322536   4.0     16.00     24.0

                  75%       max
Unnamed: 0  113196.75  150929.0
points          90.00     100.0
price           40.00    2300.0
___________________ Variables Categóricas _________________

              count unique                                                top  \
country      150925     48                                                 US
description  150930  97821  A little bit funky and unsettled when you pop ...
designation  105195  30621                                            Reserve
province     150925    455                                         California
region_1     125870   1236                                        Napa Valley
region_2      60953     18                                      Central Coast
variety      150930    632                                         Chardonnay
winery       150930  14810                                    Williams Selyem

              freq
country      62397
description      6
designation   2752
province     44508
region_1      6209
region_2     13057
variety      14482
winery         374

In [14]:
# Paso 1: Identificar los valores nulos
nulos = wine2.isnull()

# Paso 2: Contar los valores nulos por columna
conteo_nulos = nulos.sum()

# Paso 3: Calcular el porcentaje de nulos por columna
porcentaje_nulos = (conteo_nulos / len(df)) * 100

# Mostrar el resultado
print(porcentaje_nulos)

Unnamed: 0      0.000000
country         0.004037
description     0.000000
designation    36.928033
points          0.000000
price          11.057820
province        0.004037
region_1       20.234318
region_2       72.650566
variety         0.000000
winery          0.000000
dtype: float64

In [15]:
exploracion_datos(wine)

_____________ INFORMACIÓN GENERAL DEL DATAFRAME ____________

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB
None
___________________ FORMA DEL DATAFRAME ____________________

El número de filas que tenemos es de 129971.
El número de columnas es de 14

_______________ NULOS, ÚNICOS Y DUPLICADOS _________________

La cantidad de valores NULOS por columna es de:

Unnamed: 0                   0
country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64
____________________________________________________________

La cantidad de valores ÚNICOS por columna es de:

La columna Unnamed: 0: 129971
La columna country: 44
La columna description: 119955
La columna designation: 37980
La columna points: 21
La columna price: 391
La columna province: 426
La columna region_1: 1230
La columna region_2: 18
La columna taster_name: 20
La columna taster_twitter_handle: 16
La columna title: 118840
La columna variety: 708
La columna winery: 16757
____________________________________________________________

La cantidad de valores DUPLICADOS por columna es de:

La columna Unnamed: 0: 0
La columna country: 129927
La columna description: 10016
La columna designation: 91991
La columna points: 129950
La columna price: 129580
La columna province: 129545
La columna region_1: 128741
La columna region_2: 129953
La columna taster_name: 129951
La columna taster_twitter_handle: 129955
La columna title: 11131
La columna variety: 129263
La columna winery: 113214
____________________ RESUMEN ESTADÍSTICO ____________________
____________________ Variables Numéricas __________________

               count          mean           std   min      25%      50%  \
Unnamed: 0  129971.0  64985.000000  37519.540256   0.0  32492.5  64985.0
points      129971.0     88.447138      3.039730  80.0     86.0     88.0
price       120975.0     35.363389     41.022218   4.0     17.0     25.0

                75%       max
Unnamed: 0  97477.5  129970.0
points         91.0     100.0
price          42.0    3300.0
___________________ Variables Categóricas _________________

                        count  unique  \
country                129908      43
description            129971  119955
designation             92506   37979
province               129908     425
region_1               108724    1229
region_2                50511      17
taster_name            103727      19
taster_twitter_handle   98758      15
title                  129971  118840
variety                129970     707
winery                 129971   16757

                                                                     top  \
country                                                               US
description            Seductively tart in lemon pith, cranberry and ...
designation                                                      Reserve
province                                                      California
region_1                                                     Napa Valley
region_2                                                   Central Coast
taster_name                                                   Roger Voss
taster_twitter_handle                                         @vossroger
title                  Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma...
variety                                                       Pinot Noir
winery                                                Wines & Winemakers

                        freq
country                54504
description                3
designation             2009
province               36247
region_1                4480
region_2               11065
taster_name            25514
taster_twitter_handle  25514
title                     11
variety                13272
winery                   222

In [16]:
wine['country'].value_counts()

country
US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Czech Republic               12
Macedonia                    12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Slovakia                      1
China                         1
Egypt                         1
Name: count, dtype: int64

In [19]:
wine2['country'].value_counts()

country
US                        62397
Italy                     23478
France                    21098
Spain                      8268
Chile                      5816
Argentina                  5631
Portugal                   5322
Australia                  4957
New Zealand                3320
Austria                    3057
Germany                    2452
South Africa               2258
Greece                      884
Israel                      630
Hungary                     231
Canada                      196
Romania                     139
Slovenia                     94
Uruguay                      92
Croatia                      89
Bulgaria                     77
Moldova                      71
Mexico                       63
Turkey                       52
Georgia                      43
Lebanon                      37
Cyprus                       31
Brazil                       25
Macedonia                    16
Serbia                       14
Morocco                      12
England                       9
Luxembourg                    9
Lithuania                     8
India                         8
Czech Republic                6
Ukraine                       5
Switzerland                   4
South Korea                   4
Bosnia and Herzegovina        4
China                         3
Egypt                         3
Slovakia                      3
Tunisia                       2
Albania                       2
Montenegro                    2
Japan                         2
US-France                     1
Name: count, dtype: int64

In [17]:
# Paso 1: Identificar los valores nulos
nulos = wine.isnull()

# Paso 2: Contar los valores nulos por columna
conteo_nulos = nulos.sum()

# Paso 3: Calcular el porcentaje de nulos por columna
porcentaje_nulos = (conteo_nulos / len(df)) * 100

# Mostrar el resultado
print(porcentaje_nulos)

Unnamed: 0                0.000000
country                   0.050868
description               0.000000
designation              30.250547
points                    0.000000
price                     7.263684
province                  0.050868
region_1                 17.155568
region_2                 64.158774
taster_name              21.190320
taster_twitter_handle    25.202464
title                     0.000000
variety                   0.000807
winery                    0.000000
dtype: float64

In [18]:
# Paso 1: Identificar los valores nulos
nulos = df_mental_health.isnull()

# Paso 2: Contar los valores nulos por columna
conteo_nulos = nulos.sum()

# Paso 3: Calcular el porcentaje de nulos por columna
porcentaje_nulos = (conteo_nulos / len(df)) * 100

# Mostrar el resultado
print(porcentaje_nulos)

Timestamp                  0.000000
Gender                     0.000000
Country                    0.000000
Occupation                 0.000000
self_employed              4.200276
family_history             0.000000
treatment                  0.000000
Days_Indoors               0.000000
Growing_Stress             0.000000
Changes_Habits             0.000000
Mental_Health_History      0.000000
Mood_Swings                0.000000
Coping_Struggles           0.000000
Work_Interest              0.000000
Social_Weakness            0.000000
mental_health_interview    0.000000
care_options               0.000000
dtype: float64